<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="MSMQExplorer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup>
    <userSettings>
        <MSMQExplorer.Properties.Settings>
            <setting name="WindowX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>1277</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>495</value>
            </setting>
            <setting name="MainWindowSplit" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="SubWindowSplit" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="SendHostName" serializeAs="String">
                <value>.</value>
            </setting>
            <setting name="SendQueueType" serializeAs="String">
                <value>private</value>
            </setting>
            <setting name="SendQueueName" serializeAs="String">
                <value/>
            </setting>
            <setting name="SendValidateXSD" serializeAs="String">
                <value/>
            </setting>
            <setting name="SendLabel" serializeAs="String">
                <value/>
            </setting>
            <setting name="RecHostNAme" serializeAs="String">
                <value>.</value>
            </setting>
            <setting name="RecValidateXSD" serializeAs="String">
                <value/>
            </setting>
            <setting name="OfficeStyle" serializeAs="String">
                <value>Office_2010</value>
            </setting>
            <setting name="OfficeStyleIndex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ThemeColour" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="ThemeIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SendFormat" serializeAs="String">
                <value/>
            </setting>
            <setting name="RecFormat" serializeAs="String">
                <value/>
            </setting>
            <setting name="CallUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoUpdateCount" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoUpdateCountInterval" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="AutoUpdateQueue" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoUpdateQueueInterval" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="ShowUpdateTimestamp" serializeAs="String">
                <value>False</value>
            </setting>
        </MSMQExplorer.Properties.Settings>
    </userSettings>
</configuration>
