<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutomaticUpdater" version="2.6.18.4" targetFramework="net45" />
  <package id="Be.Windows.Forms.HexBox" version="1.6.1" targetFramework="net45" />
  <package id="jacobslusser.ScintillaNET" version="3.6.3" targetFramework="net45" />
  <package id="log4net" version="2.0.15" targetFramework="net462" />
  <package id="Microsoft-WindowsAPICodePack-Core" version="1.1.5" targetFramework="net462" />
  <package id="ObjectListView.Official" version="2.9.2-alpha2" targetFramework="net462" />
  <package id="ScintillaNet.SearchBox" version="1.0.3" targetFramework="net462" />
  <package id="System.Windows.Forms.Ribbon35" version="3.5.8.0" targetFramework="net45" />
</packages>